#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=plaYUVer
Exec=playuver
Icon=playuver.png
Terminal=false
#MimeType=text/x-pgf
Categories=Multimedia;
GenericName=raw video player
